body{

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



a {
  cursor : pointer;
}


.comment-card{
  background-color: #eee ;
  border-radius: 8px;
  margin-top : 0.5vh;
  padding :1vw;
  cursor:pointer;
  border-style : solid;
  border-color :  black;
  border-width :  1px;
}

.icons-container > i {
  font-size : 1vw;
  margin : 2px;
  padding : 2px;
  width : 10%;
  border-width : 1px;
  border-color : white;
  border-radius:  10px;
}

.collapse:hover{
  background-color : #eaecef;
}


.reddit-comment{
  border-left-color: red;
  border-left-width :  8px;
}

.reddit-comment-group{
  margin-left :2vw;
}


.loading-spinner{
  position :  absolute;
  top :30vh;
  left : 30vw;
  z-index :  1000;
}