body{
  font-family: halvetica;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}




a {
  cursor : pointer;
}


.comment-card{
  background-color: #eee ;
  border-radius: 8px;
  margin-top : 0.5vh;
  padding :1vw;
  cursor:pointer;
  border-style : solid;
  border-color :  black;
  border-width :  1px;
}

.icons-container > i {
  font-size : 1vw;
  margin : 2px;
  padding : 2px;
  width : 10%;
  border-width : 1px;
  border-color : white;
  border-radius:  10px;
}

.collapse:hover{
  background-color : #eaecef;
}


.reddit-comment{
  border-left-color: #02183a;
  border-left-width :  3px;
  border-top-width : 1px;
  border-top-color : black;
}

.reddit-comment-group{
  margin-left :1.2vw;
}


.loading-spinner{
  position :  absolute;
  top :30vh;
  left : 30vw;
  z-index :  1000;
}

.main-heading img{
  height : 10vh;
  width : auto;
}

.main-heading{
  display: inline-flex;
  padding : 2vh;
  width :  100%;
}

.items{
  font-size : 15px;
}

.items a {
  color: black;
}


.back-button-main{
  border-style: solid; 
  border-color : black;
  border-width :  2px;
  border-radius : 10px;
}

.back-button-main:hover{
  border : blue;
  border-width :  4px;
}